body{
    background-color: rgb(6, 6, 6);
}
 
.star-rating .active {
    color: #ffc107; /* Bootstrap's yellow color */
  }
  
  .star-rating .inactive {
    color: #e4e5e9; /* Light gray color */
  }
